@model Person

<h1>@Model.Name</h1>

@await Html.PartialAsync("_MovieList", Model.ActedMovies.WithTitle("Spilt i"))

@await Html.PartialAsync("_MovieList", Model.ProducedMovies.WithTitle("Produsert"))

@await Html.PartialAsync("_MovieList", Model.DirectedMovies.WithTitle("Regisert"))
