@model IEnumerable<Person>

<h2>@Model.GetTitle()</h2>
<ul>
    @foreach (var person in Model)
    {
        <li>
            @Html.ActionLink(person.Name, "Details", "Person", new { id = person.PersonId })
        </li>
    }
</ul>